<h1>Permissions</h1>
<hr/>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <% Permission.select(:subject).map(&:subject).uniq.each do |subject|%>
          <a class="nav-link<%if subject == params[:view] || (params[:view].nil? && subject == "users")%> active<%end%>" id="v-pills-<%= subject.capitalize %>-tab" data-toggle="pill" href="#v-pills-<%= subject.capitalize %>" role="tab" aria-controls="v-pills-<%= subject.capitalize %>"><%= subject.capitalize %></a>
        <%end%>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="tab-content" id="v-pills-tabContent">
        <% Permission.select(:subject).map(&:subject).uniq.each do |subject|%>
          <div class="tab-pane fade show<%if subject == params[:view] || (params[:view].nil? && subject == "users")%> active<%end%>" id="v-pills-<%= subject.capitalize %>" role="tabpanel" aria-labelledby="v-pills-<%= subject.capitalize %>-tab">
          <div class="card>
          <ul class="list-group list-group-flush">
          <% Permission.select(:action).where("subject = ?", subject).map(&:action).each do |action|%>
            <li class="list-group-item">
              <%= action.capitalize %>
            </li>
          <%end%>
          <li class="list-group-item">
              
            <%= form_for Permission.new do |f| %>
              <%= f.hidden_field :subject, value: subject %>
              <div class="input-group">
                <%= f.text_field :action, :placeholder => 'Action' %>
                <div class="input-group-btn">
                  <%= f.button class: 'btn btn-success' do %>
                    <i class="fa fa-plus"></i>
                  <% end %>
                  </a>
                </div>
                </div>
              <% end %>              
            </li>
          </ul>
          </div>
          </div>
        <%end%>
      </div>
  </div>
</div>
